{% load static %}
<style>
    div {padding: 30px;}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div>
{% if latest_task %}

<h1>Tasks Browser : Django Interface</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Parent</th>
                <th>Duration in minutes</th>
            </tr>
        </thead>
        <tbody>
            {% for r in latest_task %}
                {% if r.isparent == "NULL" %}
                <tr class="table-info">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{r.task_id}}</td>
                    <td><a href="/{{r.task_id}}/">{{r.name}}</a></td>
                    <td>{{r.status}}</td>
                    <td>{{r.Start_Timestamp}}</td>
                    <td>{{r.End_Timestamp}}</td>
                    <td>{{r.isparent}}</td>
                    <td>{{r.duration}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No tasks are available.</p>
{% endif %}
</div>